@font-face { font-family: League; src: url('Friz-Quadrata-Font/Friz Quadrata Regular.ttf'); }
@font-face { font-family: League; font-weight: bold; src: url('Friz-Quadrata-Font/Friz Quadrata Bold.otf');}

body {
  font-family: League !important;
}

.coolButtons {
  padding-left: 1%;
  padding-top: 0.5%;
}

.coolButtons div {
  padding-right: 1%;
  padding-top: 0.5%;
}

.navigation-bar {
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;
  background-image: url("header-background.png");
  padding: 1%;
}

#main-header {
  font-size: 300%;
  color: #c7a355;
}

.wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left:  10px;
  text-align: center;
}

.form-guess {
  position: fixed;
  bottom: 0;
  margin: 2% auto;
  left: 0;
  right: 0;
}

.clues {
  border: 1px solid black;
  width: 55%;
  margin: 0 auto;
  height: 100px;
  margin-top: 5%;
  padding: 1%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#guessField {
  width: 30%;
  height: 35px;
  font-size: 100%;
}

#subButton {
  width: 5%;
}



.clues p {
  font-size: 100%;
}

.popup-header {
  margin: 0 auto;
  margin-top: 5%;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.stat-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.stat-item h3 {
  font-size: 150%;
}

.stat-item h5 {
  font-size: 80%;
}

.modal-body p {
  padding-left: 10px;
}
